/* Font imports */
@import url(http://fonts.googleapis.com/css?family=Kavoon);

body {
    background-color: #3498db;
}

.container {
    width: 100%;
    text-align: center;
}

.main-text {
    font-family: 'Kavoon', cursive;
    font-size: 52pt;
    color: #ecf0f1;
    margin-top: 15%;
}
